GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<PRIVATE_KEY_CONTENT>\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL="example_email@developer.gserviceaccount.com"
GOOGLE_WORKSHEET="sampleIdOfWorksheetww8Wer6Qw8hq8we"
HUBOT_GITTER2_TOKEN=GitterSampleToken
GIST_WORKSHEET="<GIST_ID>"
GIST_PASSWORD="<BOT_PASSWORD>"
GIST_USERNAME="<BOT_USERNAME>"
